.project
.settings
.classpath
target
.idea
/gottabe-io-backend/gottabe-io-backend.iml
/user-services/user-services.iml
/commons/commons.iml
node_modules
.cache
/gottabe-io-ui/dist
/gottabe-io-ui/js
/gottabe-io-ui/.parcel-cache
*.iml
